.gimPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    min-height: 100vh;
    height: fit-content;
}
.cardsDetails{
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 1rem;
}
hr{
    width: 90%;
    height: 100px;
}

/*.services{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 5rem;
}*/
.infoService{
    width: 100%;
    height: fit-content;
}

.infoService .descriptionPlan h2{
    font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
    color: #643992;

}
.services{
    display: grid;
    width: 100%;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(27vw, 1fr));
    gap: 2rem;
}

@media screen and (max-width:600px) {
    .services{
        grid-template-rows: auto 1fr;
        margin-top: 3rem;
        padding: 1rem !important;
    }

    hr{
        height: 2rem;
    }
}

@media screen and (max-width:550px) {
    
    .cardsDetails{
        flex-direction: column;
        width: 100%;
    }

    .services{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 0;
        height: fit-content;
    }

    .infoService{
    }
}