#sectionFront{
    height: 65vh;
    width: max-content;
    
    
}

.box-front{
    width: max-content;
    max-width: 100%;
    height: 600px;
   padding: 0;
   position: relative;
   
}


.box-front img {
    position: absolute;
    
   
      width: 100%; /* Hace que las imágenes ocupen el 100% del ancho del contenedor */
      
    height: auto; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    padding: 0;
  }
  .box-front img:nth-child(1) {
    width: 1020px; /* Ajusta el ancho según tus necesidades */
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .box-front img:nth-child(2) {
    width: auto; 
    height: 100%;/* Ajusta el ancho según tus necesidades */
    top: 0;
    left: 860px;
    z-index: 1;
  }

  .frontTitle {
    width: max-content;
    position: absolute;
  
    top:45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
   
  }
  .frontTitle .titleWellness{
    width: 530px;
    height: 60px;
    background-color:#643992;
 
  }
 
  @media screen and (max-width: 767px) {
    #sectionFront{
  
      height: 100vh;
    
  }
   
    .box-front{
     width: 100%;
     max-width: 100%;
     height: 100%;
     padding: 0;
    
     position: relative;
     
  }


  
  
 
    .box-front img:nth-child(1) {
      width: 100%; /* Ajusta el ancho según tus necesidades */
      top: 0;
      left: 0;
    
    }
    .box-front img:nth-child(2) {
  
      display: none;
    }
    
    .frontTitle {
      width: 80%;
      /* background-color: #643992; */
      padding: 0 30px;
      position: relative;
      top: -60%;
      left: 7%;
      transform: none;
      z-index: 1;
      text-align: center;
    }
    .frontTitle img{
      width: 100%;
    }
    
    .frontTitle .titleWellness {
      width: 100%;
      height: auto; /* Ajusta la altura según tus necesidades */
      background-color: #643992;
    }
    
  }
  @media screen and (max-width: 560px) {
  
    #sectionFront{
      height: 90vh;
   
      
      
  }
  

  
  
 

    .frontTitle {
      width: 60%;
      /* background-color: #643992; */
      padding: 0 20px;
      position: relative;
      top: -75%;
      left: 0%;
  
     
    }
    
    
    .frontTitle .titleWellness {
      width: 90%;
      height: auto; /* Ajusta la altura según tus necesidades */
     
    }
    
  }