#sectionFront{
    height: 65vh;
    
}

.box-front{
    width: 100%;
    max-width: 100%;
    height: 600px;
   padding: 0;
   position: relative;
}


.box-front img {
    position: absolute;
    
   
      width: 100%; /* Hace que las imágenes ocupen el 100% del ancho del contenedor */
      
    height: auto; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    padding: 0;
  }
  .box-front img:nth-child(1) {
    width: 1000px; /* Ajusta el ancho según tus necesidades */
    height: 100%;
    top: 0;
    left: 0;
  
  }
  .box-front img:nth-child(2) {
    width: 1000px; 
    height: 100%;/* Ajusta el ancho según tus necesidades */
    top: 0;
    left: 864px;
    z-index: -1;
  }

  .frontTitle {
    width: max-content;
    position: absolute;
  
    top:20%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
   
  }
  .frontTitle .titleWellness{
    width: 530px;
    height: 60px;
    background-color:#643992;
 
  }
 
  @media screen and (max-width: 767px) {
   
   
    .box-front{
      width: 100%;
      max-width: 100%;
      height: 600px;
     padding: 0;
     position: relative;
   
  }
  
  
  .box-front img {
      position: absolute;
    
     
        width: 100%; /* Hace que las imágenes ocupen el 100% del ancho del contenedor */
        
      height: auto; /* Ajusta la altura según tus necesidades */
      object-fit: cover;
      padding: 0;
    }
    .box-front img:nth-child(1) {
      width: 50%; /* Ajusta el ancho según tus necesidades */
      top: 0;
      left: 0;
    
    }
    .box-front img:nth-child(2) {
      width: 50%; 
      top: 0;
      left: 380px;
      z-index: -1;
    }
    
    .frontTitle {
      width: 100%;
      padding: 0 30px;
      position: relative;
      top: -55%;
      left: auto;
      transform: none;
      z-index: 1;
      text-align: center;
    }
    
    .frontTitle .titleWellness {
      width: 100%;
      height: auto; /* Ajusta la altura según tus necesidades */
      background-color: #643992;
    }
    
  }