#sectionFront{
    height: 65vh;
    
}

.box-front{
    width: 100%;
    max-width: 100%;
    height: max-content;
   padding: 0;
   position: relative;
}


.box-front img {
    position: absolute;
    
  
    height: 600px; /* Ajusta la altura según tus necesidades */
    object-fit: cover;
    padding: 0;
  }
  .box-front img:nth-child(1) {
    width: 1000px; /* Ajusta el ancho según tus necesidades */
    top: 0;
    left: 0;
  
  }
  .box-front img:nth-child(2) {
    width: 1000px; /* Ajusta el ancho según tus necesidades */
    top: 0;
    left: 864px;
    z-index: -1;
  }

  .frontTitle {
    width: max-content;
    position: absolute;
  
    top: 18%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
   
  }
  .frontTitle .titleWellness{
    width: 530px;
    height: 60px;
    background-color:#643992;
 
  }
 
  