/*Para tarjetas mostrando planes*/
.cardService{
    height: 500px;
    width: 400px;
    /*background-color: gray;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
   
    object-fit: cover;
    background-size: cover;
    background-position: center;
    align-items: center;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    cursor: pointer;
    
}

.cardService:hover{
    transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.cardService label{
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.5rem 4rem;
    color: white;
    font-size: 20px;
    font-weight: 400 !important;
    background-color: #4F4F4F80;
    border-radius: 20px;
    
}



/*Para tarjetas donde se muestran servicios de cada plan, Ej: Servicios de Electro*/
.planService{
    width: 100%;
    /* width:30% ; si el display es Flex */
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /*box-shadow: 0 2px 2px rgb(58, 54, 54);*/
    box-shadow: 0rem 1rem 2rem rgba(0,0,0,.175)!important;
    border-radius: 20px;
    /*padding: 0rem 1rem 1rem 1rem;*/
    
}
.planService .label{
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
}
.planService .label label{
    
    text-align: center;
    font-size: 20px;

}
.planService .label span{
    height: 100px;
    
    padding: 1rem 2rem;
}
.planService .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.planService .containerImg{
    height: 300px;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    /* background-color: red; */
}
.planService .containerImg img{
 object-fit:cover;
 object-position:  center;
 width: 100%;
 height: 100%;
}
.planService .divBtnReserve{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:600px) {
    
    .planService{
        margin-bottom: 1rem;
    }
    .planService .label{
        height: 60%
    }
    .planService .label span{
        height:  fit-content;
    }
    .planService img{
        height: 40%;
    }
    
    .planService .button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .planService .button .btn-reserve{
        font-size: 1rem;
        height: fit-content !important;
        padding: 0.5rem !important;
    }

}

@media screen and (max-width:440px) {
    
}

@media screen and (max-width:440px) {
    .cardService{
        width: 100%;
       margin: 10px 0;
        
    }
    .planService{
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:350px) {
    .planService{
        height: fit-content;
        max-height: fit-content !important;
    }
    .planService .label{
        height: 80%;
        
    }
    .planService img{
        height: 20%;
        max-height: 200px;
    }
}