/*Para tarjetas mostrando planes*/
.cardService{
    height: 500px;
    width: 400px;
    /*background-color: gray;*/
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid white;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    align-items: center;
   
}
.cardService label{
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.25rem 0.5rem;
    color: white;
    font-weight: 600;
    background-color: black;
}

/*Para tarjetas donde se muestran servicios de cada plan, Ej: Servicios de Electro*/
.planService{
    width: 100%;
    /*width:30% si el display es Flex*/
    height: 30rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    /*box-shadow: 0 2px 2px rgb(58, 54, 54);*/
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 10px;
    /*padding: 0rem 1rem 1rem 1rem;*/
}
.planService .label{
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.planService .label label{
    text-align: center;
    font-family: 'Lucida Bright';
}
.planService .label span{
    height: 60%;
    padding: 0.5rem;
}
.planService .button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.planService img{
    height: 40%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

@media screen and (max-width:600px) {
    
    .planService{
        max-height: 30rem !important;
        margin-bottom: 1rem;
    }
    .planService .label{
        height: fit-content
    }
    .planService .label span{
        height:  fit-content;
    }
    .planService img{
        height: 40%;
    }
    .planService .button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .planService .button .btn-reserve{
        font-size: 1rem;
        height: fit-content !important;
        padding: 0.5rem !important;
    }

}

@media screen and (max-width:440px) {
    .cardService
}

@media screen and (max-width:440px) {
    .cardService{
        width: 100%;
    }
    .planService{
        margin-bottom: 1rem;
    }
}