#root {

  margin: 0;
  padding: 0;
 box-sizing: border-box;

 min-height: 100vh;
 height: fit-content;
}


h1{
  font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  margin-top:140px;  
overflow: hidden;
}
main section{

  flex-direction: row;
  
  
}


body{
  width: 100%;

  /* position: relative; */
  
  height:fit-content;
}
@media screen and (max-width:550px) {
  main{
      margin-top: 180px;
  }
  
}