#root {

  margin: 0;
  padding: 0;
 box-sizing: border-box;
 font-family: "Open Sans Hebrew";
 min-height: 100vh;
 height: fit-content;
}

main{
  margin-top: 40px;  
}

body{
  width: 100%;
  position: relative;
  min-height:100vh;
  height:fit-content;
}
 