#root {

  margin: 0;
  padding: 0;
 box-sizing: border-box;

 min-height: 100vh;
 height: fit-content;
}


/* h1{
  font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
} */

main{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main section{

  flex-direction: row;
  
  
}


body{
  width: 100%;
  font-family: 'Century Gothic', sans-serif;
  /* position: relative; */
  
  height:fit-content;
}

.p-subtitle{
  width: 100%;
color: #4F4F4F;
font-size: 20px;
}

h2{
 
  color: #643992;

}
h3{
  color: #4F4F4F;

 
  
}
@media screen and (max-width:800px) {
  
  main{
    margin-top: 100px;
  }

}
