footer{
width: 100%;
  
    background-color: #313131;
 
 
    
}
footer h6{
    margin: 0;
}



footer a {
   color: white;
   text-decoration: none;
   transition: all 0.5s ease;
}
footer a:hover {
   color: #643992;
}
footer .container-networks :hover a {

  color: #8a50c8;
 
}
.container-networks .container-img {
    border-radius: 100%;
overflow: hidden;
width: 40%;
}

.container-networks img{
    object-fit: cover;
    object-position:  center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}