


h5{
    color: #643992;
    font-size: 34px;



}

.p-secondary{
    width: 700px;
color: #4F4F4F;
}
.border-circle{
    width: 405px;
    height: 405px;
    background-color: transparent; 
    border: 40px solid #8A5DBA; 
    border-radius: 100%; 
    
    
}
.border-circle img{
    width: 100%;
   
    
}


@media screen and (max-width: 767px) {

    .imgBienestar{
        width: 50%;
        margin: 0 200px;
       
        
    }
    h5{
        display: none;
    }
    .p-secondary{
        width: 100%;
        text-align: center;
        padding: 0 40px;
 
    }

    .border-circle {
       
        display: none !important;
        
    }
  
 
 
  
   
}  

@media screen and (max-width: 560px) {

    .imgBienestar{
        width: 70%;
        margin: 0 70px;
       
        
    }
    h5{
        display: none;
    }
  
  
 
 
  
   
}  
