


h5{
    color: #643992;
    font-size: 34px;
    font-family: 'Lucida Bright';
}

.p-secondary{
    width: 700px;
color: #4F4F4F;
}
.border-circle{
    width: 405px;
    height: 405px;
    background-color: transparent; 
    border: 40px solid #8A5DBA; 
    border-radius: 100%; 
    
    
}
.border-circle img{
    width: 100%;
   
    
}


@media screen and (max-width: 767px) {

    .imgBienestar{
        width: 100%;
    }
    .p-secondary{
        width: 400px;
 
    }
    
    .border-circle{
        margin: 30px 0 0 0;
        width: 200px;
        height: 200px;
        border: 20px solid #8A5DBA;
    }
  
   
}  
