.cardContent{
  height: 520px; 
  width: auto;
  overflow: hidden; 

}
.contentImage {
   
    height: 100%; 
 
   
    padding: 0;
    
    
  }
  
  .contentImage img {
    width: 100%; 
    height: 100%;
    object-fit:cover; 
  }

  
  .cardBody{
    /* width: 754px; */
    height:100%;
  }
  
  .cardBody div{
    color: #4F4F4F;
   
   
    
  }
 
  @media screen and (max-width: 1767px) {
   
  
  
    .cardContent{
      height: 530px; 
      width: auto;
      overflow: hidden; 
    
    }
  
.cardBody h3{
font-size: 20px;
 
  
}
}
  @media screen and (max-width: 1560px) {
   
    .contentImage {
   
      height: 100%; 
    }
    

   
}  
  @media screen and (max-width: 1186px) {
    .contentImage {
   
      height: 100%; 
    }
    
  

   
}  
  @media screen and (max-width: 1086px) {
      .contentImage {
   
      height: 100%; 
    }
    
  

   
}  
  @media screen and (max-width: 990px) {
   
    .contentImage {
      width: 400px;
height: 50px;  

}

   
}  
  @media screen and (max-width: 875px) {
    
    .contentImage {
      width: 400px;
height: 100px;  

}
   
}  
  @media screen and (max-width: 767px) {
   
  
  
    .cardContent{
      height: max-content; 
   
     
    }
    .contentImage {
      width: 700px;
height: 500px !important;  


}
.contentImage img {
  width: 100%; 
  height: 100%;
  object-fit:cover; 
}

.cardBody h3{
font-size: 20px;
 
  
}
    
   
}  
