.steticPage{
    min-height:42vh;
    display: flex;
    align-items: center;
    
    width: 100%;

}
.steticServices{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1rem;
    height: 100%;
 
    cursor: pointer;
    overflow: hidden;
  
}

.steticService{
    display: flex;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.175)!important;
    padding:  1rem;
    margin: 40px 0;
    width: 50%;
    height: 350px;
    border-radius: 10px;
    background-size:cover;
    background-position:center;
    text-align: center;
    flex-direction: column-reverse;
   
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.steticService:hover{
    transform: translateY(-0.5rem) scale(1.0125);
	
   
}

.steticService h3{
    color: white;
  
    font-weight: 300 !important;
}